* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ddd;
}

.container {
  width: 80%;
  min-height: 50vh;
  padding: 30px 50px 50px;
  margin: 50px auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-radius: 5px;
}

p {
  font-size: 20px;
}
hr{
  height: 2px;
  background-color: gray;
  opacity: .3;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #0176ff;
}

header .header-subtitle {
  color: gray;
}

section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0 0;
}

.container::after {
  position: absolute;
  content: "A+";
  bottom: -10px;
  right: 10px;
  background-color: #3b74ba;
  color: white;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 5px;
}

.content-subtitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #eee;
  color: rgb(68, 68, 68);
}