body {
    background: #9BC1BC;
}

.box {
    background-color: #FF4365;
    padding: 2em;
}

.one {
    background-color: #495867;
    grid-column: 1/4;
}

.grid-container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: row;
}