html,
body,
.container {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, serif;
  background: azure;
}

.table-container {
  height: 100%;
  width: 100%;
}

.left-side {
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: top;
}

.left-side h2 {
  background-color: #3b5999;
  padding: 15px;
}

.left-side p {
  text-align: justify;
  font-size: 18px;
  font-weight: bold;
}

.left-side ul {
  list-style: square;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.right-side {
  width: 270px;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: top;
  background-color: #3b5999;
}

.divider {
  background-color: #4485b9;
  height: 5px;
  width: 90%;
  margin: 5px auto;
  margin-top: 28px;
}
.avatar img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 200px;
}

.right-side a img {
  width: 48px;
}
.form {
  direction: ltr;
  color: wheat;
  font-size: 15px;
  font-style: italic;
  font-variant: small-caps;
  background-color: #3b5999;
}
.fieldist {
  background-color: #131418;
  padding-bottom: 18px;
}
.bottn {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    337deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.6281863087031687) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
h2 {
  color: white;
}
