* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #e91e63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.header, .main-area, .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header, .main-area {
  margin-bottom: 10px;
}

.logo, .links {
  background-color: #2196f3;
  text-align: center;
  padding: 20px;
}

.links {
  width: calc(100% - 90px);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.links li {
  display: inline-block;
  align-self: flex-end;
  margin-left: 20px;
}

.main-area .content, .main-area .sidebar {
  background-color: #2196f3;
  height: calc(100vh - 175px);
  padding: 10px;
}

.main-area .content {
  width: calc(100% - 30%);
}

.main-area .content .paragraph {
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  caret-color: red;
  position: relative;
}

.main-area .content .paragraph p {
  background-color: rgb(204, 204, 204);
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
}

.main-area p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, red 20%, red 50%, green 50%);
  bottom: 0;
  right: 0;
}

.main-area .sidebar {
  width: 29%;
}

.footer {
  background-color: #2196f3;
  padding: 20px;
}

@media screen and (min-width: 240px) and (max-width: 281px) {
  .main-area .content, .main-area .sidebar {
    height: calc(100vh - 35vh);
  }
  .main-area .content {
    width: calc(100% - 50%);
  }
  .main-area .sidebar {
    width: 49%;
  }
}